
/* NAVBAR */

.navbar {
  background: #234715;
  border-bottom: 5px solid #8DD62D;
}

.nav-link {
  color: white;
  padding: 0px;
  padding-bottom: 2px;
}

.nav-item :hover {
  color: white;
  margin-bottom: -3px;
  border-bottom: 3px solid white;
}

.on-nav {
  margin-bottom: -3px;
  border-bottom: 3px solid white;
}

.nav {
  margin-bottom: 2px;
}


/* FOOTER */

.footer {
  background: #191919;
  color: white;
  height: 320px;
  padding: 30px;
  border-top: 5px solid #8DD62D;
}

hr {
  background-color: white;
  border: 0;         
  height: 0.5px;
}

.h-logo {
  display: inline-block;
}

.a-git {
  text-decoration: none !important;
  color: white !important;
  position: absolute;
  right: 15px;
}

.foot-right {
  position: relative;
}

















@import '~bootstrap/dist/css/bootstrap.min.css'