
/* NAVBAR */

.navbar {
  background: #234715;
  border-bottom: 5px solid #8DD62D;
}

.nav-link {
  color: white;
  padding: 0px;
  padding-bottom: 2px;
}

.nav-item :hover {
  color: white;
  margin-bottom: -3px;
  border-bottom: 3px solid white;
}

.on-nav {
  margin-bottom: -3px;
  border-bottom: 3px solid white;
}

.nav {
  margin-bottom: 2px;
}


/* FOOTER */

.footer {
  background: #191919;
  color: white;
  height: 320px;
  padding: 30px;
  border-top: 5px solid #8DD62D;
}

hr {
  background-color: white;
  border: 0;         
  height: 0.5px;
}

.h-logo {
  display: inline-block;
}

.a-git {
  text-decoration: none !important;
  color: white !important;
  position: absolute;
  right: 15px;
}

.foot-right {
  position: relative;
}

/* CAROUSEL */

.carousel-item {
  height: 600px;
}

/* CARD PARD */

.main-card {
  /* background: url(green_line2.jpg) repeat-x center top; */
  background: url(green_line1.jpg) no-repeat center top;
  width: 100%;
  height: 550px;
}

.card {
  width: 200px;
  border-radius: 0px;
  border: 1px solid black;
  /* height: 300px; */
}

.card-body {
  background: #2F2E2E;
  color: white;
  font-size: 10px;
}

.card :hover {
  background: #8DD62D;
  transition: 1s !important;
}


.card-img-top {
  height: 200px;
  width: 198px;
  margin-top: -1px !important;
  padding: 0px;
  border-radius: 0px;
  border: none !important;
}

.main-card .container {
  padding-top: 100px;
}


/* ABOUT GREEN */

.about-green {
  margin: 100px 0 100px 0;
}

/* MAP */

.contacts div {
  width: 100% !important;
  height: 400px !important;
}

#ps {
  margin: 20px 0 20px 0;
}

/* DOWNLOAD */

#img-download {
  width: 100%;
}

.a-download {
  margin: 20px 0 30px 0;
}

.a-download a {
  text-decoration: none;
}

.a-download span {
  font-size: 25px;
}

/* ABOUT CREW */

.btn-vk {
  background: #4C75A3;
  color: white !important;
  border-radius: 100px;
  padding: 10px;
  transition: 1s;
  margin-top: 0px !important;
}

.p-email {
  display: inline-block;
  margin-right: 100px;
  margin-bottom: 50px;
}

.about-crew h3 {
  margin-bottom: 30px;
}




@import '~bootstrap/dist/css/bootstrap.min.css';